[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
black = "*"
ipdb = "*"
django-rest-passwordreset = "*"
psycopg2-binary = "*"
pre-commit = "*"
graphene-django = "*"
celery = "*"
django-rest-framework = "*"
django-redis = "*"
django-rest-knox = "*"
requests = "*"
coverage = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
