<html>
	<head>
		<meta charset="utf-8">
		<title>password_reset</title>
    <body>
    {% if not success %}

    {%if errors %}
        {% for err in errors %}
        <h4>{{err}}</h4>
        {%endfor%}
    {% endif %}
     <form action="" method="post">
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            <input type="hidden" value="{{ token }}" name="token">
        </div>
        <table>
            <tr>
                <td>
                <input type="password" name="new_password">
                </td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td><input type="password" name="re_new_password"></td>
            </tr>
            <tr>

                <td><input type="submit" value="Change my password" /></td>
            </tr>
        </table>
    </form>

    {% else %}
        Congrats your password has been changed successfully
    {% endif %}
</body>
</head>
